.container {
  padding: 16px;
  max-width: 1200px;
  margin: 0 auto;
}

form {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  gap: 16px;
  margin-bottom: 24px;
}

mat-form-field {
  width: 100%;
}

.column-toggle {
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.column-toggle mat-checkbox {
  font-size: 14px;
}
/* .table-container {
  position: relative;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
} */
table {
  width: 100%;
  border-collapse: collapse;
  animation: opac 0.4s ease-in-out;
}
@keyframes opac {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

th.mat-header-cell,
td.mat-cell {
  padding: 12px;
  text-align: left;
}

th.mat-header-cell {
  background-color: #f5f5f5;
  color: #333;
}

td.mat-cell {
  border-bottom: 1px solid #ddd;
}

button.mat-button {
  font-size: 14px;
  color: #007bff;
}

button.mat-button:hover {
  color: #0056b3;
  background-color: #e7f0ff;
}

@media (max-width: 768px) {
  .container {
    padding: 8px;
  }

  form {
    gap: 12px;
  }

  .column-toggle {
    flex-direction: column;
  }

  table {
    font-size: 12px;
  }

  th.mat-header-cell,
  td.mat-cell {
    padding: 8px;
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  transition: opacity 0.5s ease-in-out;
}

.loader {
  display: flex;
  align-items: center;
}

.loader div {
  width: 15px;
  height: 15px;
  margin: 5px;
  background-color: #3498db;
  border-radius: 50%;
  animation: scale 1.5s ease-in-out infinite;
}

.loader div:nth-child(2) {
  animation-delay: 0.3s;
}

.loader div:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes scale {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 0.5;
  }
}
